{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block title %} Dashboard {% endblock %}
{% block body %}

    <a href="{% url 'frontend:logout' %}">
        <button class="btn btn-danger pull-right">LOGOUT &nbsp; <i class="fa fa-sign-out"></i></button>
    </a>
    <h3>
        &nbsp Hi {{ profile.user.first_name }}! [{{ profile.user.username }}]
    </h3>
    {{ profile.get_program_display }}

    <br><br>
    <h2>Courses Registered for</h2>
    <ul>
        {% for course in profile.course_set.all %}
            <li>  {{ course.course_code }} {{ course.course_name }} {{ course.get_absolute_url }}</li>
        {% endfor %}
    </ul>



{% endblock %}