{% extends 'frontend/dash_base.html' %}
{% block body %}
    <br><br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card"
                     style="height: 3rem;padding-top: 0.5rem;  margin-left: -1rem;  margin-right: -1rem;  margin-top: -1px;  margin-bottom: 1rem;">
                    <center><h3 class="center" style="color: #4285F4; font-weight: 400"> Personal Details</h3>
                    </center>
                </div>
                <div class="card-block" style="margin: 3rem;margin-top: 1rem">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form form-lg">
                                <input type="text" id="" class="form-control form-control-lg"
                                       value="{{ user.get_full_name }}" readonly>
                                <label>Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="md-form form-lg">
                                <input type="text" id="" class="form-control form-control-lg"
                                       value="{{ user.username }}" readonly>
                                <label>Roll Number</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-lg">
                                <input type="text" id="" class="form-control form-control-lg"
                                       value="{{ profile.get_program_display }}" readonly>
                                <label>Program</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-lg">
                                <input type="text" id="" class="form-control form-control-lg"
                                       value="{{ profile.phone }}" readonly>
                                <label>Contact</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>








    {##}
    {#    <br><br><br>#}
    {#    <div class="container-fluid" style="min-height: 75vh">#}
    {#        <section class="section team-section">#}
    {#            <div class="row">#}
    {#                <div class="col-md-1">#}
    {#                </div>#}
    {#                <div class="col-md-10">#}
    {#                    <div class="card card-cascade cascading-admin-card user-card">#}
    {#                        <div class="admin-up d-flex justify-content-start">#}
    {##}
    {#                            <div class="data">#}
    {#                                <h4 class="h4-responsive">&nbsp;&nbsp;<i class="fa fa-user py-4"></i> Personal Info</h4>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="card-body">#}
    {#                            <div class="row">#}
    {#                                <div class="col-md-6">#}
    {#                                    <div class="label-floating"><label class="control-label">Name</label>#}
    {#                                        <p>{{ user.get_full_name }}</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="col-md-1">#}
    {#                </div>#}
    {#            </div>#}
    {#        </section>#}
    {#    </div>#}
    {##}
    {##}
    {##}
    {##}
    {##}
    {##}
    {##}
    {#    <div class="container">#}
    {#        <br><br>#}
    {#    <a href="{% url 'frontend:logout' %}">#}
    {#        <button class="btn btn-danger pull-right">LOGOUT &nbsp; <i class="fa fa-sign-out"></i></button>#}
    {#    </a>#}
    {#        <h3>#}
    {#            &nbsp Hi {{ profile.user.first_name }}! [{{ profile.user.username }}]#}
    {#        </h3>#}
    {#        <br>#}
    {#        <div class="row">#}
    {#            <div class="col-md-2"></div>#}
    {#            <div class="col-md-8">#}
    {##}
    {#                <div class="card"#}
    {#                     style="height: 3rem;padding-top: 0.5rem;  margin-left: -1rem;  margin-right: -1rem;  margin-top: -1px;  margin-bottom: 1rem;">#}
    {#                    <center><h3 class="center" style="color: #4285F4; font-weight: 400">Details</h3>#}
    {#                    </center>#}
    {#                </div>#}
    {##}
    {#                <div class="card-block" style="margin: 3rem;margin-top: 1rem">#}
    {#                    <table class="table table-hover">#}
    {#                        <thead>#}
    {#                        <tr>#}
    {#                            <th scope="col" style="font-size: 1.6rem">Course Code</th>#}
    {#                            <th scope="col" style="font-size: 1.6rem">Course Name</th>#}
    {#                            <th scope="col" style="font-size: 1.6rem">Course Page</th>#}
    {#                        </tr>#}
    {#                        </thead>#}
    {#                        <tbody>#}
    {#                        <tr>#}
    {#                            {% for course in profile.course_set.all %}#}
    {#                                <th scope="row" style="font-size: 1.3rem">{{ course.course_code }}</th>#}
    {#                                <td style="font-size: 1.3rem">{{ course.course_name }}</td>#}
    {#                                <td>#}
    {#                                    <a href="{{ course.get_absolute_url }}">#}
    {#                                        <button class="btn btn-info btn-sm">#}
    {#                                            <i class="fa fa-external-link" style="font-size: 1.3rem;"></i>#}
    {#                                        </button>#}
    {#                                    </a>#}
    {#                                </td>#}
    {#                            {% endfor %}#}
    {#                        </tr>#}
    {#                        </tbody>#}
    {#                    </table>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class=" col-md-2">#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}