{% extends 'frontend/sidenavbase.html' %}
{% block detail %}  default-color {% endblock %}
{% block body %}
    <br><br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="card"
                     style="height: 3rem;padding-top: 0.5rem;  margin-left: -1rem;  margin-right: -1rem;  margin-top: -1px;  margin-bottom: 1rem;">
                    <center><h3 class="center" style="color: #4285F4; font-weight: 400"> Personal Details</h3>
                    </center>
                </div>
                <div class="card-block" style="margin: 3rem;margin-top: 1rem">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form form-lg">
                                <input type="text" id="" class="form-control form-control-lg"
                                       value="{{ user.get_full_name }}" readonly>
                                <label>Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="md-form form-lg">
                                <input type="text" id="" class="form-control form-control-lg"
                                       value="{{ user.username }}" readonly>
                                <label>Roll Number</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-lg">
                                <input type="text" id="" class="form-control form-control-lg"
                                       value="{{ profile.get_program_display }}" readonly>
                                <label>Program</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="md-form form-lg">
                                <input type="text" id="" class="form-control form-control-lg"
                                       value="{{ profile.phone }}" readonly>
                                <label>Contact</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}