{% extends 'frontend/sidenavbase.html' %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card"
                         style="height: 3rem;padding-top: 0.5rem;  margin-left: -1rem;  margin-right: -1rem;  margin-top: -1px;  margin-bottom: 1rem;">
                        <center><h3 class="center" style="color: #4381B8; font-weight: 400"> Change Password</h3>
                        </center>
                    </div>
                    <div class="card-block" style="margin: 3rem;margin-top: 1rem">

                        <div class="md-form">
                            <i class="fa fa-lock prefix" style="font-size: 2.5rem; color: #4381B8   "></i>
                            <label for="id_old_password">Old password:</label>
                            <input type="password" name="old_password" autofocus required id="id_old_password"/>
                        </div>
                        <div class="md-form">
                            <i class="fa fa-lock prefix" style="font-size: 2.5rem; color: #4381B8   "></i>
                            <label for="id_new_password1">New password:</label>
                            <input type="password" name="new_password1" required id="id_new_password1"/>
                        </div>

                        <ul>
                            <li>Your password can&#39;t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can&#39;t be a commonly used password.</li>
                            <li>Your password can&#39;t be entirely numeric.</li>
                        </ul>
                        <div class="md-form">
                            <i class="fa fa-lock prefix" style="font-size: 2.5rem; color: #4381B8   "></i>
                            <label for="id_new_password2">New password confirmation:</label>
                            <input type="password" name="new_password2" required id="id_new_password2"/>
                        </div>
                        <div style="text-align: center">
                            <div class="red-text">
                                {{ form.old_password.errors }}
                                {{ form.new_password.errors }}
                                {{ form.new_password2.errors }}
                            </div>
                            <button class="btn " type="submit" style="background: #4381B8;">Login</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </form>


{% endblock %}