{% extends 'frontend/sidenavbase.html' %}
{% block past %}  default-color {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>
                <br>
                <h5 style="font-weight: 400">TA Assignment for Semester I, AY 2018-2019</h5>
                <br>
                <br>
                <table class="table table-striped" >
                    <thead class=" lighten-4" style="background: #D9EDFF ;border-radius: 1px;">
                    <tr>
                        <th class="theader">Month</th>
                        <th class="theader">Course Code</th>
                        <th class="theader">Course Name</th>
                        <th class="theader">TA Supervisor</th>
                        <th class="theader">Status</th>
                        <th class="theader">Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for feedback in feedbacks %}
                        <tr>
                            <td>{{ feedback.requested_on|date:"F" }} {{ feedback.requested_on|date:"Y" }}</td>
                            <td>{{ feedback.course.course_code }}</td>
                            <td>{{ feedback.course.course_name }}</td>
                            <td>{{ feedback.teaching_assistant_supervisor }}</td>
                            <td>
                                {% if feedback.approve %}
                                    Approved
                                {% else %}
                                    Not Approved
                                {% endif %}
                            </td>
                            <td>{{ feedback.comments }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>

    </div>

{% endblock %}