{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="TDF-8">
    <title></title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css?family=Hind');
</style>
<body style="font-size: 15px">
<div class="container">
    <div>
        <div align="left">
            <img src="http://127.0.0.1:8000/static/img/red_logo.png" style="height: 100px;width: 100px    ">
            <br>
            <img align="right" src="http://127.0.0.1:8000/static/img/hindi_iitj.png" style="margin-bottom: -10px">
            <br>
            <h1 align="right" style="margin-right: 5px"> Indian Institute of Technology Jodhpur</h1>
        </div>
    </div>
    <br>

    <div class="container-fluid">
        <b style="font-size: larger">
            To <br>
            Assistant Registrar (Students)
        </b>
        <p> This is to certify that the following students in the Department of {{ department }} have
            worked
            for
            at least 8 hours per week during the month of {{ month }} {{ year }}.
        </p>
    </div>
    <br><br>
    <div align="center">
        <table border="1">
            <tr style="padding: 2px">
                <th>S. No.</th>
                <th>Roll No.</th>
                <th>Name</th>
            </tr>
            {% for feedback in feedbacks %}
                <tr style="padding: 2px">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ feedback.teaching_assistant.user.username }}</td>
                    <td>{{ feedback.teaching_assistant.user.get_full_name }}</td>
                </tr>
            {% endfor %}

        </table>

    </div>

    <br><br>
    <div align="right">
        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u>
        <br>
        Head of the Department
    </div>
</div>
</body>
</html>