{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="font-size: 15px">
<div class="container">
    <div>
        <div align="left" style="height: 2rem;width: 2rem">
            <img src="http://127.0.0.1:8000/static/img/red_logo.png" style="height: 100px;width: 100px    ">
            {#            <img src="http://127.0.0.1:8000/static/img/red_logo.png" alt="">#}
        </div>
        <div align="right" style="font-size: 22px;;">
            भारतीय प्रौद्योगिकी संस्थान जोधपुर
            <br>
            Indian Institute of Technology Jodhpur
        </div>
    </div>
    <br>
    <br> <br>
    <div class="container-fluid">
        <b style="font-size: larger">
            To <br>
            Assistant Regisstrar (Students)
        </b>
        <p> This is to certify that the following {{ program }} students in the Department of {{ department }} have
            worked
            for
            at least 8 hours per week during the month of {{ month }} {{ year }}.
        </p>
    </div>
    <br><br>
    <div align="center">
        <table border="1">
            <tr style="padding: 2px">
                <th>S. No.</th>
                <th>Roll No.</th>
                <th>Name</th>
            </tr>
            {% for student in students %}
                <tr style="padding: 2px">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.user.username }}</td>
                    <td>{{ student.user.get_full_name }}</td>
                </tr>
            {% endfor %}

        </table>

    </div>

    <br><br>
    <div align="right">
        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u>
        <br>
        Head of the Department
    </div>
</div>
</body>
</html>