  /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:absolute;/* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    margin-top: 8rem;
}
.default-color{
    background-color:#5A6D7E !important; ;
}
.sidenavborder{
    border-top: 1px solid #000000;
}
.sidenavtitle{
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #798188;
    letter-spacing: 0;
    padding-left: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}
.arrow_righ{
    float: right;
    padding-right: 1rem;
}
/* The navigation menu links */
.sidenav a {
    padding-top: 1rem;
    padding-left: 2rem;
    border: all;
    text-decoration: none;
    font-size: 25px;
    color: #5A6D7E;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.theader{
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #373737;
    letter-spacing: 0;

}
.threebars{
    margin-left: 1rem;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 